<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Screens</key>
	<array>
		<string>demo-0</string>
		<string>demo-1</string>
		<string>demo-2</string>
		<string>demo-3</string>
		<string>demo-4</string>
		<string>demo-5</string>
	</array>
	<key>AdditionalResources</key>
	<array>
		<string>Demo.jpg</string>
	</array>
</dict>
</plist>
