
* {
    margin: 0px;
    padding: 0px;
}

html {
	width: 100vw;
    overflow-y: scroll;
    word-wrap: break-word;
}

body {
    padding: 30pt;
    color: lightgray;
    font-family: AvenirNext-Regular;
	font-size: 150%;
    background-color: #8d0000;
}

.box {
    background-color: #ad0000;
    margin-top: 10pt;
    padding: 10pt;
}

h1 {
    font-weight:500;
}